@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'SpaceMono';
        src: url(assets/Space_Mono/SpaceMono-Regular.ttf);
    }

    @font-face {
        font-family: 'NeueMachina';
        src: url(assets/fonts/PPNeueMachina-Regular.otf);
    }
    
    html {
        @apply font-machina text-white;
    }

    .secondary_text {
        @apply bg-gradient-to-br from-white to-secondary font-bold text-transparent bg-clip-text
    }
}

