@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'SpaceMono';
        src: url(assets/Space_Mono/SpaceMono-Regular.ttf);
    }
    
    html {
        @apply font-spacemono text-white;
    }
    .name-shadow {
        text-shadow: 4px -1px 6px #5807F0;
        /* #9300FF; */
        /* #A909FF; */
    }
}